*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6a4e4e;
    color: white;
    padding: 20px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.projetos{
    padding: 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

article{
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

article:hover{
    transform: scale(1.05);
}

article h2{
    margin-bottom: 10px;
    color: #333;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}